.payment {
    &__container {
        padding: 20px;
    }
    &__label {
        width:20%;
    }
    &__value {
        width:30%;
    }
    &__btn-container {
        text-align: center;
        :disabled {
            background-color: gray;
        }
    }
    &__btn {
        background-color: black; 
        border: none;
        color: white;
        padding: 6px 25px;
        display: inline-block;
    }

    &__container-item{
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        align-items: center;
        width: 100%;
    }
}